# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Logs
logs/

# Temp
.tmp/

# Power BI (binary — too large for git)
reports/*.pbix

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
